body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #27b67a, #2193b0);
  margin: 1;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  padding: 20px 30px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  width: 400px;
  text-align: center;
    background: rgb(224, 224, 224);
    border: 2px solid rgb(227, 26, 26);
}

h1 {
  margin-bottom: 20px;
  color: #050505;
}

.card {
  background: #f9f9f9;
  padding: 15px;
  margin: 15px 0;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border: 2px solid rgb(225, 220, 220);
}

input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  border: none;
  background: #42bddc;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #08313e;
}