body {
  background-image: url('pics/Soundwave.jpg');
  background-size: cover;
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  color: #333;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.topbar {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  backdrop-filter: blur(10px);
}

.topbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.topbar li {
  float: left;
}

.topbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topbar a:hover {
  background-color: #ddd;
  color: black;
}

.topbar a.active {
  background-color: #04AA6D;
  color: white;
}

.username {
  font-weight: bold;
  margin-right: 10px;
}

.logout {
  margin-left: 15px;
  cursor: pointer;
  color: #f44336;
}

.container {
  background: rgba(255,255,255,0.05);
  padding: 20px 30px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  width: 400px;
  text-align: center;
  border: 2px solid rgb(233, 30, 99);
  backdrop-filter: blur(4px);
  margin-top: 60px;
}

h1 {
  margin-bottom: 20px;
  color: #fcfbfb;
}

.card {
  background: #f4f3f3;
  padding: 15px;
  margin: 15px 0;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0,0,0,0.1);
  border: 1px solid rgb(225, 255, 255);
}

.card:hover {
  transform: scale(1.01);
  transition: 0.2s;
}

input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  border: none;
  background: rgba(66,189,220,0.8);
  color: white;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 10px rgba(10, 165, 165, 0.7);
}

button:hover {
  background: rgba(66,189,220,1);
  box-shadow: 0 0 20px rgba(66,189,220,1);
}